udemy/Data Science for Business 6 Real-world Case Studies/4. Operations Department/4.+Operations+Department
udemy/Data Science for Business 6 Real-world Case Studies/4. Operations Department/4.+Operations+Department.zip
udemy/Data Science for Business 6 Real-world Case Studies/4. Operations Department/4. Operations Department
udemy/Data Science for Business 6 Real-world Case Studies/4. Operations Department/weights.hdf5xd.keras
udemy/Data Science for Business 6 Real-world Case Studies/6. Production
youtube/neural_network_from_scretch/digit-recognizer
.DS_Store
